.review-item{
    width: 571px;
    height: 110px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;

}

.review-details{
    flex-grow: 1;
}

.review-item img{
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.product-title{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.review-details p{
    margin: 0 15px;
}

.orange-text{
    color: #ff9900;
}

.btn-delete{
    font-size: 1rem;
    height: 55px;
    width: 55px;
    align-self: center;
    background: rgba(235, 87, 87, 0.3);
    border-radius: 50%;
    
}

.delete-icon{
    
    color: #EB5757;
    font-size: 50px;
    transform: scale(1.5) translateX(-14%);

}